__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
env/
venv/

vector_store/index.faiss
vector_store/docs.pkl

.idea/
.vscode/

.DS_Store
Thumbs.db

mianshi1.md
mianshi2.md
mianshi3.md
jianli.md
3minutes.md
strcuture.md